# dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build
/.next/
/out/
/build

# testing
/coverage

# misc
.DS_Store
*.pem

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
